<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body>
<hr/>
<hr/>
<article>
    </br>
    <big><h1 class="titleLine" th:text="${title}" th:align="center">Default Title</h1></big>
    </br>
</article>
<hr/>
<hr/>

<a href="/">Home Page</a><br>
<a href="/blog/addBlog">Add A New Blog</a>

<h2>Movie Blogs</h2>


    <tr th:each="blog : ${blogs}">

        <a class="blogHeaders"><td  th:text="${blog.blogTitle}"></td></a>
        <br>

        <a class="blogBody"><td th:text="${blog.blogBody}"></td></a>
        <br>
        <br>


    </tr>

<hr/>

</body>
