<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<hr/>
<hr/>
<article>
    <br/>
    <big><h1>BecFlix New User</h1></big>
    <br/>
</article>
<hr/>
<hr/>
<!--adding navigation from fragments.-->
<a href="/">Home Page</a>

<h2>Add New User</h2>
<form method="post" style="max-width:600px;">
    <!--    all tags must be closed. "/"-->
    <label for="name-field">User Name</label>
    <br>
    <input class="form-control" id="name-field" type="text" name="username" />
    <!--    value attribute in submit attribute customizes the button-->
    <br>
    <br>
    Email
    <br>
    <input type="email" name="email">
    <br>
    <br>
    Password:<input type="password" name="password" />
    <br>
    Verify Password:<input type="password" name="verifypass" />
    <br>
    <br>
    <input class="myButton" type="submit" value="Add User" />
</form>
</body>
</html>