<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<hr/>
<hr/>
<article>
    <br/>
    <big><h1>BecFlix New User</h1></big>
    <br/>
</article>
<hr/>
<hr/>
<!--adding navigation from fragments.-->
<a href="/">Home Page</a>

<h2>Add New User</h2>

<form class="profile-questions" method="post" style="max-width:600px;">
    <!--    all tags must be closed. "/"-->
    <label for="name-field">User Name</label>
    <br>
    <input class="profile-questions" id="name-field" th:field="${user.username}" />
    <p class="error" th:errors="${user.username}"></p>
    <!--    value attribute in submit attribute customizes the button-->
    <br>
    <br>
    Email
    <br>
    <input th:field="${user.email}" />
    <p class="error" th:errors="${user.email}"></p>
    <br>
    <br>
    Password:<input type="password" th:field="${user.password}" />
    <p class="error" th:errors="${user.password}"></p>
    <br>
    Verify Password:<input type="password" name="verifyPass" />
    <br>
    <br>

    <div class="profile-questions">
        Who's The Best Actor of All Time?<br>
        <input class="form-control" id="favoriteActor-field" name="favoriteActor" /><br><br>
        Who's Your Favorite Actress?<br>
        <input class="form-control" id="favoriteActress-field" name="favoriteActress" /><br><br>
        What is the Best Movie Ever?<br>
        <input class="form-control" id="favoriteMovie-field" name="favoriteMovie" /><br><br>
        What's the Best TV Show Ever?<br>
        <input class="form-control" id="favoriteShow-field" name="favoriteShow" /><br><br>
        <div class="form-group">
            <label>What is your favorite Genre?<br>
                <select name="genre">
                    <option th:each="genre : ${genres}"
                            th:value="${genre.displayGenre}"
                            th:text="${genre.displayGenre}"
                    ></option>
                </select>
            </label>
        </div>
        <br>
        <a href="/user/blog">your blog</a>
        <br>
        <br>

    <input class="myButton" type="submit" value="Add User" />
</form>
</body>
</html>