
<!DOCTYPE html>
<!--attribute " xmlns:th="http://www.thymeleaf.org/ " uses a feature xhmtl. incorporates xml language
pulls in information about the tags that are being used that are part of thymeleaf.  Allows for
syntax highlighting and error reporting.  Tells intellij that this should conform to thymeleaf.-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head">

</head>
<body>
<hr/>
<hr/>
<article>
    </br>
    <big><h1 class="titleLine" th:text="${title}" th:align="center">Default Title</h1></big>
    </br>
</article>
<hr/>
<hr/>
<!--adding navigation from fragments.-->
<!--<nav th:replace="fragments :: navigation"></nav>-->
</br>
</br>

<div class="homepage-setup">
    <a href="/user/addUser">Sign Up Here To Make Your List</a>
    <hr></div>
<a href="/">Home Page</a>
<div class="homepage-setup2">

    <a href="/user/login">Already Signed up?  Log In</a><br><small>or</small><br>
    <a href="/user">See a LIST OF USERS who've already signed up</a>
<br>
<br>
<br>
    <div class="profile-questions">
Who's The Best Actor of All Time?<br>
<input class="form-control" id="favoriteActor-field" name="favoriteActor" /><br><br>
Who's Your Favorite Actress?<br>
<input class="form-control" id="favoriteActress-field" name="favoriteActress" /><br><br>
What is the Best Movie Ever?<br>
<input class="form-control" id="favoriteMovie-field" name="favoriteMovie" /><br><br>
What's the Best TV Show Ever?<br>
<input class="form-control" id="favoriteShow-field" name="favoriteShow" /><br><br>
    <div class="form-group">
        <label>What is your favorite Genre?<br>
            <select name="genre">
                <option th:each="genre : ${genres}"
                        th:value="${genre.displayGenre}"
                        th:text="${genre.displayGenre}"
                ></option>
            </select>
        </label>
    </div>
    <br>
<a href="/user/blog">your blog</a>
    <br>
    <br>
    <input class="myButton" type="submit" value="Submit Answers" />
    </div>
</div>
</body>
</html>