<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<a><big class="toDoStuff">User basic info and menu for other stuff here.</big></a>
<br>
<br>
<br>
Who's The Best Actor of All Time?
<input class="form-control" id="favoriteActor-field" name="favoriteActor" />
Who's Your Favorite Actress?
<input class="form-control" id="favoriteActress-field" name="favoriteActress" />
What is the Best Movie Ever?
<input class="form-control" id="favoriteMovie-field" name="favoriteMovie" />
What's the Best TV Show Ever?
<input class="form-control" id="favoriteShow-field" name="favoriteShow" />
What Is Your Favorite Genre?
<!--<div class="form-group">
        <select th:field="${user.genre}">
            <option th:each="genre : ${genres}"
                    th:value="${user.displayGenre}"
                    th:text="${user.displayGenre}"
            ></option>
        </select>
    </label>
</div>-->




</body>
</html>