<!DOCTYPE html>
<!--attribute " xmlns:th="http://www.thymeleaf.org/ " uses a feature xhmtl. incorporates xml language
pulls in information about the tags that are being used that are part of thymeleaf.  Allows for
syntax highlighting and error reporting.  Tells intellij that this should conform to thymeleaf.-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8"/>
    <!--    The title on head is the title that will appear on your tab at the top of the page.-->
    <title>BecFlix!</title>
</head>
<body>
<!--thymeleaf attribute with syntax to pull a piece of data.-->
<!--the title using this pulled data will display on the screen as it is passed from the controller to here.-->
<h1 th:text="${title}">Default Title</h1>


<form method="post">
<!--    all tags must be closed. "/"-->
    Movie Title
    <br>
    <input type="text" name="movieName" />
<!--    value attribute in submit attribute customizes the button-->
    <br>
    Release Year
    <br>
    <input type="int" name="year" />
    <br>
    Genre
    <br>
<!--    TODO change this to a drop down.-->
    <input type="text" name="genre" />
    <br>
    Director
    <br>
    <input type="text" name="director" />
    <br>
    If this movie is part of a Franchise, enter the Franchise name.
    <br>
    <input type="text" name="franchise" />
    <br>
<!--    TODO change this to a drop down.-->
    Movie Rating.
    <br>
    <input type="text" name="rating" />
    <br>
<!--    TODO change this to a drop down.-->
    How important is this to us?
    <br>
    <input type="text" name="importance" />
    <br>


    <input type="submit" value="Add To Movie List" />
</form>
</body>
</html>