
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head"></head>
<body>

<hr/>
<hr/>
<article>
    <br/>
    <big><h1 th:text="${title}">Default Title</h1></big>
    <br/>
</article>
<hr/>
<hr/>

<nav th:replace="fragments :: navMovie"></nav>

<h2>Add New Movie Details</h2>
<form method="post" style="max-width:600px;">

    <label for="name-field">Movie Title</label>
    <br>
    <input class="form-control" id="name-field" th:field="${movie.movieName}"/>
    <p class="error" th:errors="${movie.movieName}"></p>
    <br>
    <br>
    Release Year
    <br>
    <input name="year" type="int" th:field="${movie.year}" />
    <p class="error" th:errors="${movie.year}"></p>
    <br>
    <br>
    Release Date<br>
    Month - Day - Year
    <br>
    <input name="releaseDate" type="date" th:field="${movie.releaseDate}">
    <br>
    <br>

    <div class="form-group">
        <label>What is the Genre?<br>
            <select th:field="${movie.genre}">
                <option th:each="genre : ${genres}"
                        th:value="${genre.displayGenre}"
                        th:text="${genre.displayGenre}"
                ></option>
            </select>
        </label>
    </div>

    <br>
    Director
    <br>
    <input type="text" th:field="${movie.director}"/>
    <br>
    <br>
    If this movie is part of a Franchise, enter the Franchise name.
    <br>
    <input type="text" th:field="${movie.franchise}" />
    <br>

    <div class="form-group">
        <label>What is this movie's rating?<br>
            <select th:field="${movie.rating}">
                <option th:each="rating : ${ratings}"
                        th:value="${rating.displayRating}"
                        th:text="${rating.displayRating}"
                ></option>
            </select>
        </label>
    </div>

    <br>

    <div class="form-group">
        <label>How important is this to you?<br>
            <select th:field="${movie.importance}">
                <option th:each="importance : ${importances}"
                        th:value="${importance.displayImportance}"
                        th:text="${importance.displayImportance}"
                ></option>
            </select>
        </label>
    </div>

    <br>
    <div class="form-group">
        <label>Live Action or Animation?<br>
            <select th:field="${movie.type}">
                <option th:each="type : ${types}"
                        th:value="${type.displayType}"
                        th:text="${type.displayType}"
                ></option>
            </select>
        </label>
    </div>

    <input class="myButton" type="submit" value="Add To Movie List" />
</form>
</body>
</html>