<!DOCTYPE html>
<!--attribute " xmlns:th="http://www.thymeleaf.org/ " uses a feature xhmtl. incorporates xml language
pulls in information about the tags that are being used that are part of thymeleaf.  Allows for
syntax highlighting and error reporting.  Tells intellij that this should conform to thymeleaf.-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8"/>
    <!--    The title on head is the title that will appear on your tab at the top of the page.-->
    <title>BecFlix!</title>
</head>
<body>
<!--thymeleaf attribute with syntax to pull a piece of data.-->
<!--the title using this pulled data will display on the screen as it is passed from the controller to here.-->
<h1 th:text="${title}">Default Title</h1>


<form method="post">
<!--    all tags must be closed. "/"-->
    Movie Title
    <br>
    <input type="text" name="movieName" />
<!--    value attribute in submit attribute customizes the button-->
    <br>
    Release Year
    <br>
    <input type="int" name="year" />
    <br>
    Genre
    <br>
    <select name="genre">
        <option value="scifi">SciFi</option>
        <option value="horror">Horror</option>
        <option value="comedy">Comedy</option>
        <option value="romance">Romance</option>
        <option value="action">Action</option>
        <option value="adventure">Adventure</option>
        <option value="western">Western</option>
        <option value="crime">Crime</option>
        <option value="documentary">Documentary</option>
        <option value="drama">Drama</option>
        <option value="noir">Noir</option>
        <option value="thriller">Thriller</option>
        <option value="war">War</option>
        <option value="romcom">RomCom</option>
        <option value="epic">Epic</option>
        <option value="fantasy">Fantasy</option>
        <option value="disaster">Disaster</option>
        <option value="gangster">Gangster</option>
        <option value="superhero">Superhero</option>
        <option value="mystery">Mystery</option>
        <option value="slasher">Slasher</option>
        <option value="parody">Parody</option>
        <option value="sports">Sports</option>
        <option value="martialArts">Martial Arts</option>
        <option value="pornographic">Pornographic</option>
        <option value="biographical">Biographical</option>
        <option value="musical">Musical</option>
        <option value="teen">Teen</option>
        <option value="spy">Spy</option>
        <option value="chickFlick">Chick Flick</option>
        <option value="swashbuckler">Swashbuckler</option>
        <option value="legalDrama">Legal Drama</option>
        <option value="mockumentary">Mockumentary</option>
        <option value="exploitation">Exploitation</option>
        <option value="heist">Heist</option>
        <option value="silent">Silent</option>
        <option value="family">Family</option>
        <option value="buddy">Buddy</option>
        <option value="psychoThriller">Psychological Thriller</option>
    </select>
    <br>
    Director
    <br>
    <input type="text" name="director" />
    <br>
    If this movie is part of a Franchise, enter the Franchise name.
    <br>
    <input type="text" name="franchise" />
    <br>
    Movie Rating.
    <br>
    <select name="rating">
        <option value="g">Rated G</option>
        <option value="pg">Rated PG</option>
        <option value="pg13">Rated PG-13</option>
        <option value="r">Rated R</option>
        <option value="nc17">Rated NC-17</option>
    </select>
    <br>
<!--    TODO change this to a drop down.-->
    How important is this to us?
    <br>
    <input type="text" name="importance" />
    <br>


    <input type="submit" value="Add To Movie List" />
</form>
</body>
</html>