<!DOCTYPE html>
<!--attribute " xmlns:th="http://www.thymeleaf.org/ " uses a feature xhmtl. incorporates xml language
pulls in information about the tags that are being used that are part of thymeleaf.  Allows for
syntax highlighting and error reporting.  Tells intellij that this should conform to thymeleaf.-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head">

</head>
<body>
<hr/>
<hr/>
<article>
</br>
    <big><h1 class="titleLine" th:text="${title}" th:align="center">Default Title</h1></big>
</br>
</article>
<hr/>
<hr/>
<!--adding navigation from fragments.-->
<nav th:replace="fragments :: navigation"></nav>

<!--conditionally displaying this message if no object returns or there is nothing in the object to return.-->
<p class="noMovies" th:unless="${movies} and ${movies.size()}">No movies in the List</p>

    <h2>My BecFlix List:</h2>

<table class="table">

    <tr>
        <th>Title</th>
        <th>||</th>
        <th>Urgency To Watch?</th>
        <th>||</th>
        <th>Year of Release</th>
        <th>||</th>
        <th>Genre</th>
        <th>||</th>
        <th>Director</th>
        <th>||</th>
        <th>Rating</th>
        <th>||</th>
        <th>Franchise</th>
    </tr>
<hr/>
    <tr th:each="movie : ${movies}">
        <td class="movieTitles" th:text="${movie.movieName}"></td>
        <td>||</td>
        <td class="movieImportance" th:text="${movie.importance}"></td>
        <td>||</td>
        <td th:text="${movie.year}"></td>
        <td>||</td>
        <td th:text="${movie.genre}"></td>
        <td>||</td>
        <td th:text="${movie.director}"></td>
        <td>||</td>
        <td th:text="${movie.rating}"></td>
        <td>||</td>
        <td th:text="${movie.franchise}"></td>
    </tr>
</table>
</br>
</br>
<p th:if="${movies} and ${movies.size()}">
<a href="/movie/addMovie">Add Another Movie</a>
</p>
</body>
</html>