
body{
font-family: sans-serif;
background-color: lavender;

}

.navigation{
font-family: cursive;
text-align: right;
}

head{
text-align: center;
}

form{
font-family: cursive;
}

.titleLine{
text-align: center;
font-size: 500%;
}

h2{
font-family: ariel;
color: purple;
}

article{
background-color: lightblue;
}

.movieTitles{
color: teal;
font-weight: bold;
font-size: 30px;
}

.myButton {
    font-weight: bold;
    font-size: 30px;
     height: 100px;
     width: 400px;
}

.movieImportance {
    color: red;
    font-weight: bold;
}

.noMovies{
    color: brown;
    font-weight: bold;
    font-size: 40px;
}

.homepage-setup{
    text-align: center;
    color: darkviolet;
    font-weight: bold;
    font-size: 30px;
}

.homepage-setup2{
    text-align: center;
    color: darkviolet;
    }

.moviebutton {
    float: left;
    font-size: 40px;
    height: 200px;
    width: 600px;
}

.signupbutton {
    float: down;
    color: teal;
    font-size: 40px;
    height: 200px;
    width: 600px;
}

.tvbutton {
    float: right;
    font-size: 40px;
    height: 200px;
    width: 600px;
}
big{
text-align: center;
}

.errors{
color: red;
}