body{
font-family: sans-serif;
background-color: lavender;

}

nav{
font-family: cursive;
text-align: right;
}

head{
text-align: center;
}

form{
font-family: cursive;
}

h1{
text-align: center;
}

h2{
font-family: ariel;
color: purple;
}