
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">BecFlix!</title>

<!--    the href will make thymeleaf search for that css file.-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<body>
<nav class="navigation" th:fragment="navMovie">

    <p th:unless="${shows} and ${shows.size()}">
    <br>
    <br>
    <a href="/movie">List of Movies</a> <br>
    <a href="/movie/addMovie">Add A Movie To My List</a> <br>
        <a href="/movie/removeMovie">Remove Some Movies</a><br><br>
        <a href="/">Home Page</a>
    </p>
</nav>
<nav class="navigation" th:fragment="navShow">
    <br>
    <br>
    <p th:unless="${movies} and ${movies.size()}">
    <a href="/show">List of Television Shows</a> <br>
    <a href="/show/addShow">Add A TV Show To My List</a> <br>
        <a href="/show/removeShow">Remove Some Shows</a> <br><br>
        <a href="/">Home Page</a>
    </p>
</nav>

</body>
</html>
