
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>

<hr/>
<hr/>
<article>
    <br/>
    <big><h1 th:text="${title}">Default Title</h1></big>
    <br/>
</article>
<hr/>
<hr/>

<nav th:replace="fragments :: navShow"></nav>

<h2>Add New Show Details</h2>
<form method="post" style="max-width:600px;">

    <label for="name-field">TV Show Title</label>
    <br>
    <input class="form-control" id="name-field" th:field="${show.name}" />
    <p class="error" th:errors="${show.name}"></p>
    <br>
    <br>
    Year Show Started
    <br>
    <input name="year" type="int" th:field="${show.year}"/>
    <br>
    <br>
    <div class="form-group">
        <label>What is the Genre?<br>
            <select th:field="${show.genre}">
                <option th:each="genre : ${genres}"
                        th:value="${genre.displayGenre}"
                        th:text="${genre.displayGenre}"
                ></option>
            </select>
        </label>
    </div><br>
    <br>

    How important is this to you?
    <br>
    <select name="importance" type="text" th:field="${show.importance}">
        <option value="Unsure">I need to figure that out</option>
        <option value="Extremely Important">Extremely Important</option>
        <option value="Super Important">Super Important</option>
        <option value="Very Important">Very Important</option>
        <option value="Important">Important</option>
        <option value="Not Urgent">Not Urgent</option>
        <option value="It Can Wait">It Can Wait</option>
        <option value="Kinda Want To See It">Kinda Want To See It</option>
        <option value="Meh">Meh</option>
    </select>
    <br>
    <br>


    <input class="myButton" type="submit" value="Add Another TV Show" />
</form>
</body>
</html>