
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>

<hr/>
<hr/>
<article>
    <br/>
    <big><h1 th:text="${title}">Default Title</h1></big>
    <br/>
</article>
<hr/>
<hr/>

<nav th:replace="fragments :: navShow"></nav>

<h2>Add New Show Details</h2>
<form method="post" style="max-width:600px;">

    <label for="name-field">TV Show Title</label>
    <br>
    <input class="form-control" id="name-field" th:field="${show.name}" />
    <p class="error" th:errors="${show.name}"></p>

    <br>
    <br>
    <div class="form-group">
        <label>What is the Genre?<br>
            <select th:field="${show.genre}">
                <option th:each="genre : ${genres}"
                        th:value="${genre.displayGenre}"
                        th:text="${genre.displayGenre}"
                ></option>
            </select>
        </label>
    </div>
    <br>

    How important is this to you?
    <br>
    <div class="form-group">
        <label>How important is this to you?<br>
            <select th:field="${show.importance}">
                <option th:each="importance : ${importances}"
                        th:value="${importance.displayImportance}"
                        th:text="${importance.displayImportance}"
                ></option>
            </select>
        </label>
    </div>
    <br>
    <br>
    Release Date<br>
    Month - Day - Year
    <br>
    <div class="form-group">
        <label>
            <select th:field="${show.month}">
                <option th:each="month : ${months}"
                        th:value="${month.displayMonth}"
                        th:text="${month.displayMonth}"
                ></option>
            </select>
        </label>
        <label>
            <select th:field="${show.dayOfMonth}">
                <option th:each="dayOfMonth : ${dayOfMonths}"
                        th:value="${dayOfMonth.displayDay}"
                        th:text="${dayOfMonth.displayDay}"
                ></option>
            </select>
        </label>
        <label>
            <select th:field="${show.year}">
                <option th:each="year : ${years}"
                        th:value="${year.displayYear}"
                        th:text="${year.displayYear}"
                ></option>
            </select>
        </label>
    </div>
    <br>
    <br>
    <input class="myButton" type="submit" value="Add Another TV Show" />
</form>
</body>
</html>