
<!DOCTYPE html>
<!--attribute " xmlns:th="http://www.thymeleaf.org/ " uses a feature xhmtl. incorporates xml language
pulls in information about the tags that are being used that are part of thymeleaf.  Allows for
syntax highlighting and error reporting.  Tells intellij that this should conform to thymeleaf.-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head">

</head>
<body>
<hr/>
<hr/>
<article>
</br>
    <big><h1 class="titleLine" th:text="${title}" th:align="center">Default Title</h1></big>
</br>
</article>
<hr/>
<hr/>
<!--adding navigation from fragments.-->
<nav th:replace="fragments :: navShow"></nav>

<!--conditionally displaying this message if no object returns or there is nothing in the object to return.-->
<p class="noMovies" th:unless="${shows} and ${shows.size()}">No TV Shows in the List</p>

    <h2>My BecFlix List:</h2>

<table class="table">

    <tr>
        <th>Title</th>
        <th>||</th>
        <th>Urgency To Watch?</th>
        <th>||</th>
        <th>Genre</th>
        <th>||</th>
        <th>M</th>
        <th>D</th>
        <th>Year of Release</th>
        <th>||</th>
        <th>Type of Show</th>
    </tr>
<hr/>
    <tr th:each="show : ${shows}">
        <td th:text="${show.name}"></td>
        <td>||</td>
        <td th:text="${show.importance}"></td>
        <td>||</td>
        <td th:text="${show.genre}"></td>
        <td>||</td>
        <td th:text="${show.month}">/</td>
        <td th:text="${show.dayOfMonth}">/</td>
        <td th:text="${show.year}"></td>
        <td>||</td>
        <td th:text="${show.type}"></td>
    </tr>
</table>
</br>
</br>
<p th:if="${shows} and ${shows.size()}">
<a href="/show/addShow">Add Another Show</a>
</p>
</body>
</html>