<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

</head>
<body class="container">

<hr/>
<hr/>
<article>
    <br/>
    <big><h1 th:text="${title}">Default Title</h1></big>
    <br/>
</article>
<hr/>
<hr/>

<nav th:replace="fragments :: navigation"></nav>

<p class="noShows" th:unless="${shows} and ${shows.size()}">No Television shows in the List</p>

<h2>BecFlix Titles:</h2>

<form method="post">

    <th:block th:block th:each="show : ${shows}">
        <div class="form-group">
            <label>
                <span th:text="${show.name}"></span>
                <input type="checkbox" name="showIds" th:value="${show.showId}" class="form-control"/>
            </label>
        </div>

    </th:block>
    <input type="submit", value="Delete"/>

</form>

<!--<form method="post">


    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.name}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>


    <input type="submit", value="Delete" class="btn btn-danger">
</form>-->

</body>
</html>