
<!DOCTYPE html>
<!--attribute " xmlns:th="http://www.thymeleaf.org/ " uses a feature xhmtl. incorporates xml language
pulls in information about the tags that are being used that are part of thymeleaf.  Allows for
syntax highlighting and error reporting.  Tells intellij that this should conform to thymeleaf.-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head">

</head>
<body>
<hr/>
<hr/>
<article>
</br>
    <big><h1 class="titleLine" th:text="${title}" th:align="center">Default Title</h1></big>
</br>
</article>
<hr/>
<hr/>
<!--adding navigation from fragments.-->
<!--<nav th:replace="fragments :: navigation"></nav>-->
</br>
</br>

<div class="homepage-setup">
    <h1>Do you want to look at MOVIES or TELEVISION?</h1>
</div>
<div>

    <button class="moviebutton" onclick="window.location.href='/movie'">MOVIES!</button>
    <button class="tvbutton" onclick="window.location.href='/show'">TELEVISION!</button>

</div>

</body>
</html>